<html lang="en" class="wf-freightsanspro-n3-active wf-freightsanspro-n6-active wf-freightsanspro-n7-active wf-freightsanspro-n9-active wf-active"><head>
  <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <meta charset="utf-8">
  <title>cponeill</title>
  <link rel='shortcut icon' href="{{ url_for('static', filename='cponeill.ico') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="cponeill">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='master.css') }}"/>
  <script type="text/javascript" src="//use.typekit.net/hcd4rdc.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!-- Google Analytics Code Start -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52757064-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- Google Analytics Code End -->
  <style type="text/css">.tk-freight-sans-pro{font-family:"freight-sans-pro",sans-serif;}</style><link rel="stylesheet" href="http://use.typekit.net/c/568895/1w;freight-sans-pro,2,TJ8:N:n3,TJG:N:n6,TJJ:N:n7,TJL:N:n9/d?3bb2a6e53c9684ffdc9a98f01f5b2a62efecbb9f6f7c1f5106a6e80f0eb96cbdbb87776c668f3be99f50a3d58a5a7926a1230033d669fd68a5fb825ea182e8f51dee377c5876d3ba86050f79ab9a390284fef814f39efb9d3c9c5b144fda643d801c8b4d81f396bcb4add1a6cadb5e8c347610c9b7a7cab54d6b4fce0dbd7628f9cc4fe37fe9b612b8406e8e5c8dc381badb09018d25fc8791369a24f2f9fef74915eef8025358ff9abcd4e2c9e610bea825f14801b8e15cc7de4a54be9fa60f6d1fe0a3683623e58bc28581b98d758a42b920f674038f46a0341c3b232ad9f0458426c9e545d16f46faf4563e9942202b2c623d254e70d51ae5294ffde9d4e3021bc4811b4e0dd3ee"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <style>
    .img-circle {
      border-radius: 50%;
    }
  </style>
</head>
<body>
  <section id="card">
    
    <center><h1><a href="http://cponeill.com"><img class="img-circle" src="https://pbs.twimg.com/profile_images/764652019038638080/IMNreaX3_400x400.jpg" width="42" height="42">       Casey O'Neill</a></h1> 
    <h2>digital marketing developer + analyst</h2>
    <ul id="contact">
      <li><a href="http://www.blockshare.io" target="_blank">blockshare.io</a></li>
      <!--<li><a href="http://www.musicgeni.us/" target="_blank">musicgeni.us</a></li>
      <li><a href="http://cponeill.github.io/Vivian/" target="_blank">vivian</a></li>-->
      <li><a href="https://21.co/cponeillmain" target="_blank">bitcoin microservices</a></li>
      <li><a href="/api">personal API</a></li>
      <li><a href="http://www.getallthethingsdone.com" target="_blank">getallthethingsdone</a></li><br />
      <li><a href="https://www.github.com/cponeill/21-Flask-Boilerplate" target="_blank">Open Source Admin: 21 Flask Boilerplate</a></li>
      <li><a href="https://github.com/21hackers/git-money" target="_blank">Open Source Contributions: Git Money</a></li><br />
      <!--<li><a href="http://contextformdigital.bandcamp.com" target="_blank">Record Label: Context + Form Digital</a></li><br />-->
      <li><a href="/">home</a></li><br />
    </ul>
</center>
  </section>
<center><footer><a href="http://www.linkedin.com/in/cponeill" target="_blank">
                <img rel='shortcut icon' src="{{ url_for('static', filename='linkedin-6-32.png') }}" /></a>
                <a href="http://github.com/cponeill" target="_blank">
                <img rel='shortcut icon' src="{{ url_for('static', filename='github-8-32.png') }}" /></a>
                <a href="https://twitter.com/CPONEILL" target="_blank">
                <img rel='shortcut icon' src="{{ url_for('static', filename='twitter-2-32.png') }}" /></a>
  </center>
</body>
</html>
